<center><h1>Lab 1</h1></center>

<center><h2>Sains Data Genap 2020/2021</h2></center>

<center><h2>Deadline: 28 Februari 2021, 23.55 WIB</h2></center>

### Petunjuk Umum

1.   Buka dokumen Jupyter Notebook **Lab1.ipynb** yang telah disediakan di scele.
2.   Lengkapi data **NPM**, **KOLABORATOR** (jika ada), dan **REFERENSI** (jika ada), pada cell di bawah Petunjuk Umum.
3.   Jalankan kode yang telah disediakan dan perhatikan dengan saksama apa yang potongan kode tersebut lakukan beserta dengan keluarannya. Jawablah **pertanyaan pada bagian akhir dokumen** sesuai dengan perintah yang diberikan.
4.   Dokumen Jupyter Notebook yang telah dijawab dikumpulkan dengan format penamaan **KodeAsdos_Lab1_NPM_Nama.ipynb**. Contoh: LI_Lab1_1706979341_Lulu Ilmaknun Qurotaini.ipynb
5.    Kumpulkan pada submisi yang telah disediakan di scele sebelum **28 Februari 2021, 23.55 WIB**. Keterlambatan pengumpulan akan dikenakan pinalti.

In [ ]:
#Input NPM
NPM = ""

#Input NPM teman yang berkolaborasi dengan Anda dalam mengerjakan tugas ini (jika ada)
KOLABORATOR = []

#Input link referensi atau sumber lain yang Anda gunakan dalam menyelesaikan tugas ini (jika ada)
REFERENSI = []

# Pengenalan Jupyter Notebook

Berkas IPYNB adalah dokumen yang digunakan pada [__Jupyter Notebook__](https://jupyter.org/install) yang berisi _environment_ interaktif untuk pemrograman menggunakan bahasa __Python__ (juga Julia dan R). 1 berkas IPYNB terdiri atas satu atau lebih ___cell___ yang dapat digunakan untuk menjalankan kode secara interaktif maupun menulis catatan dalam sintaks ___markdown___. Selain Jupyter Notebook, berkas IPYNB dapat dibuka dan dibuat menggunakan aplikasi daring seperti [__Google Colab__](https://colab.research.google.com/) atau [__Kaggle__](https://www.kaggle.com/notebooks).

Kode ditulis dalam sebuah _cell_. Setiap _cell_ dapat dieksekusi dengan kombinasi _shortcut_ __shift + enter__ ataupun tombol ___run___ pada tiap _cell_. Setiap _cell_ dapat dieksekusi secara mandiri dan tidak perlu dijalankan berurutan, kecuali jika ada variabel global yang diinisiasi pada _cell_ yang belum dijalankan. _Cell_ kode Python yang dieksekusi akan menjalankan kode secara _interpreted_ dan menampilkan _output_ (jika ada) di bawah _cell_.

In [ ]:
# Ini adalah contoh sel untuk kode Python.

var = "Hello, world!"
print(var[:-1])
var

Hello, world

'Hello, world!'

### Ini adalah contoh sel untuk teks _markdown_.

_Markdown_ adalah _markup language_ untuk dapat membuat teks berformat menggunakan _text editor_ biasa. Dengan _markdown_, kita dapat membuat berbagai gaya teks, seperti _heading_, _hyperlink_, tabel, _list_, dan masih banyak lagi. Contoh berbagai sintaks _markdown_ dapat dilihat pada [panduan dari Markdownguide.org](https://www.markdownguide.org/cheat-sheet/) dan [wiki oleh Adam Pritchard](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet).

## Instalasi _library_ pada Jupyter Notebook

Jupyter Notebook secara bawaan menyediakan _kernel_ Python, namun terkadang kita membutuhkan _library_ eksternal yang tidak termasuk dalam bawaan Python. Instalasi _library_ dapat dilakukan dengan perintah <code>__pip install _nama-package___</code>. Contoh misal kita ingin menggunakan _library_ __Pandas__ seperti di bawah ini.

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

_Kernel_ yang digunakan pada Jupyter Notebook, seperti pada _kernel_ biasa, dapat menerima perintah sistem. Selain perintah __pip__, berbagai perintah lain, seperti __git__ atau __apt__, juga dapat dijalankan jika _kernel_-nya mendukung. Silakan eksplorasi mandiri lebih lanjut pemanfaatannya, baik pada lokal perangkat (seperti Jupyter Notebook) ataupun pada perangkat _cloud_ (seperti Google Colab).

# Pengenalan Pandas

[__Pandas__](https://pandas.pydata.org/docs/) adalah _library_ untuk bahasa Python yang menyediakan struktur data dan fungsi-fungsi yang mempermudah pemrosesan dan analisis data.

In [ ]:
# import library
import pandas as pd

## Objek _DataFrame_

_DataFrame_ adalah struktur data utama pada Pandas. Struktur data ini dapat digunakan untuk menyimpan data tabel 2 dimensi. Baris suatu _DataFrame_ terurut mulai dari 0. Jika nama-nama kolom tidak diberikan, maka kolom juga akan terurut dari 0.

In [ ]:
# Membuat DataFrame dari collection generik

lst = [
    [1,2,3],
    ['a','b','c'],
    [None, 1.0, 2.0]
]
df1 = pd.DataFrame(lst)
display(df1) # Menampilkan DataFrame

      0  1  2
0     1  2  3
1     a  b  c
2  None  1  2

In [ ]:
# Membuat DataFrame dengan membaca data dari suatu berkas

df2 = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', # Path menuju berkas dataset, dapat berupa path lokal maupun remote
    header=None # Baris pertama dataset bukanlah header
)
display(df2) # Menampilkan DataFrame

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

Memberikan nama kolom pada _DataFrame_ agar lebih bermakna

In [ ]:
df2.columns = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'label']
df2

     sepal-length  sepal-width  petal-length  petal-width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Gunakan _method_ <code>head()</code> untuk melihat hanya 5 baris pertama dari _DataFrame_.

In [ ]:
df2.head()

   sepal-length  sepal-width  petal-length  petal-width        label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
# Menampilkan 7 baris pertama
df2.head(7)

   sepal-length  sepal-width  petal-length  petal-width        label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa

Sekarang Anda telah berhasil membuka _dataset_ "Iris" sebagai objek _DataFrame_. Ini baru langkah awal sebelum kita menjelajahi objek _DataFrame_ lebih lanjut. Ini setangkai bunga Iris untuk Anda.

![iris.jpg]()

## Menampilkan atribut-atribut dari objek _DataFrame_

Menampilkan dimensi _DataFrame_ dengan atribut <code>shape</code>

In [ ]:
print("Dimensi dari df2 adalah", df2.shape)
print("df2 terdiri atas {} baris dan {} kolom.".format(df2.shape[0], df2.shape[1]))

Dimensi dari df2 adalah (150, 5)
df2 terdiri atas 150 baris dan 5 kolom.

Menampilkan tipe data tiap kolom dengan atribut <code>dtypes</code>

In [ ]:
df2.dtypes

sepal-length    float64
sepal-width     float64
petal-length    float64
petal-width     float64
label            object
dtype: object

Menampilkan statistik umum tiap kolom dengan _method_ <code>describe()</code>

In [ ]:
df2.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
# Deskripsi statistik untuk kolom numerik
df2['sepal-length'].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal-length, dtype: float64

In [ ]:
# Deskripsi statistik untuk kolom kategorikal
df2['label'].describe()

count                150
unique                 3
top       Iris-virginica
freq                  50
Name: label, dtype: object

Menghitung hanya jumlah elemen tidak ___null___ tiap kolom dengan _method_ <code>count()</code>

In [ ]:
print("Count untuk df1\n", df1.count())
print("\n")
print("Count untuk df2\n", df2.count())

Count untuk df1
 0    2
1    3
2    3
dtype: int64


Count untuk df2
 sepal-length    150
sepal-width     150
petal-length    150
petal-width     150
label           150
dtype: int64

Dapat dilihat di atas bahwa df1 memiliki nilai _null_ sehingga kolom 0 tidak terhitung ada 3 baris, sedangkan kolom lain terhitung ada 3 baris. Pada df2 seluruhnya terhitung 150 baris, namun tidak mutlak berarti tidak ada nilai _null_. Pemeriksaan dan penanganan nilai _null_ dibahas pada sub-bagian "__Menangani _missing values___".

## Mengakses baris dan kolom _DataFrame_

Kita dapat mengakses kolom _DataFrame_ seperti mengakses indeks pada array atau list, baik sebagai Series maupun DataFrame baru.

In [ ]:
# Mengakses kolom sebagai Series
df2_sepal_len = df2['sepal-length']
print(type(df2_sepal_len))
df2_sepal_len

<class 'pandas.core.series.Series'>

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal-length, Length: 150, dtype: float64

In [ ]:
# Mengakses kolom sebagai DataFrame
df2_sepal_len_2 = df2[['sepal-length']]
print(type(df2_sepal_len_2))
df2_sepal_len_2

<class 'pandas.core.frame.DataFrame'>

     sepal-length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [ ]:
# Mengakses lebih dari 1 kolom sebagai DataFrame
df2_sepal = df2[['sepal-length', 'sepal-width']]
df2_sepal

     sepal-length  sepal-width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

Akses terhadap __tepat satu__ kolom juga dapat dilakukan dengan operator __dot__ (.) dengan syarat kolom memiliki nama (tidak menggunakan indeks bilangan _default_). Nama kolom tidak boleh menggunakan nama atribut dari objek _DataFrame_. Nama kolom yang dapat diakses dengan operator ini juga tidak boleh mengandung karakter-karakter yang dilarang dalam nama variabel Python. Perhatikan contoh berikut.

In [ ]:
# Mengakses kolom dengan nama yang baik
display(df2.label)

print('\n')

# Mengakses kolom dengan nama yang kurang baik
try:
    display(df2.sepal-length)
except Exception as e:
    print('Terjadi exception:', e)
    print('Error terjadi karena "df2.sepal-length" dianggap tiga token terpisah, yaitu "df2.sepal", "-", dan "length".')

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: label, Length: 150, dtype: object

Terjadi exception: 'DataFrame' object has no attribute 'sepal'
Error terjadi karena "df2.sepal-length" dianggap tiga token terpisah, yaitu "df2.sepal", "-", dan "length".

Kita dapat mengakses baris (dan kolom) _DataFrame_ menggunakan <code>__loc__</code> atau <code>__iloc__</code>. <code>loc</code> mengakses indeks berdasarkan label dari baris atau kolom, sedangkan <code>iloc</code> mengakses indeks berdasarkan posisi dalam bilangan bulat. <code>loc</code> juga menerima _range_ secara inklusif.

In [ ]:
# Mengakses baris 0 sampai dengan 3 menggunakan loc
df2.loc[0:3]

   sepal-length  sepal-width  petal-length  petal-width        label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [ ]:
# Mengakses baris 0 sampai dengan 3 menggunakan iloc
df2.iloc[0:4]

   sepal-length  sepal-width  petal-length  petal-width        label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [ ]:
# Mengakses baris 0 - 3, namun hanya kolom petal saja, menggunakan loc
df2.loc[0:3, ["petal-length", "petal-width"]]

   petal-length  petal-width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2

In [ ]:
# Mengakses baris 0 - 3, namun hanya kolom petal saja, menggunakan iloc
df2.iloc[0:4, 2:4]

   petal-length  petal-width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2

In [ ]:
# Memasukkan indeks spesifik menggunakan loc dan iloc
print(df2.loc[0,"label"])
print(df2.iloc[0,4])

Iris-setosa
Iris-setosa

_Indexing_ juga dapat dilakukan tanpa menggunakan <code>loc</code> maupun <code>iloc</code>, dengan urutan indeks dimulai dari kolom, kemudian indeks dari baris.

In [ ]:
# Indexing tanpa menggunakan loc maupun iloc
print(df2["label"][0])

Iris-setosa

## Menangani _Missing Values_

Nilai _null_ atau "_missing values_" adalah informasi yang diisi dengan _null_ atau tidak diisi. Hal ini dapat terjadi karena informasi tersebut memang tidak diberikan (namun ada), sulit dicari, atau memang tidak ada. _Missing values_ juga dapat tersimpan sebagai "NA" atau "NaN".

In [ ]:
# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df1\n", df1.isnull().sum())
print("\n")
print("Count missing values untuk df2\n", df2.isnull().sum())

Count missing values untuk df1
 0    1
1    0
2    0
dtype: int64


Count missing values untuk df2
 sepal-length    0
sepal-width     0
petal-length    0
petal-width     0
label           0
dtype: int64

Dapat dilihat di atas bahwa pada df1 ada 1 nilai _null_ pada kolom 0, sedangkan pada df2 (dataset iris) tidak ditemukan nilai _null_. Selanjutnya kita coba membaca dataset baru pada berkas '<code>MELBOURNE_HOUSE_PRICES_LITE.csv</code>' yang dilampirkan di SCELE.

In [ ]:
df3 = pd.read_csv('MELBOURNE_HOUSE_PRICES_LITE.csv')

# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df3\n", df3.isnull().sum())

Count missing values untuk df3
 Suburb            0
Address           0
Rooms             0
Type              0
Price            76
Method            0
SellerG           0
Date              0
Postcode          0
Regionname        0
Propertycount     0
Distance          0
CouncilArea       0
dtype: int64

Dapat dilihat di atas bahwa ada kolom "Price" yang memiliki nilai _null_. Hal tersebut ditandai sebagai "NaN" pada _DataFrame_ jika ditampilkan seperti di bawah.

In [ ]:
# Menampilkan DataFrame df3
df3.head(10)

               Suburb  ...                   CouncilArea
0             Chintin  ...  Macedon Ranges Shire Council
1  Strathmore Heights  ...    Moonee Valley City Council
2      Caulfield East  ...        Glen Eira City Council
3         Huntingdale  ...           Monash City Council
4       Essendon West  ...    Moonee Valley City Council
5  Strathmore Heights  ...    Moonee Valley City Council
6       Essendon West  ...    Moonee Valley City Council
7       Essendon West  ...    Moonee Valley City Council
8         Huntingdale  ...           Monash City Council
9        Keilor Lodge  ...         Brimbank City Council

[10 rows x 13 columns]

Ada beberapa pendekatan untuk menangani _missing values_. Pendekatan yang umum digunakan adalah mengisi _missing values_ dengan nilai tertentu menggunakan _method_ <code>fillna()</code> atau menghapus (_drop_) baris atau kolom yang mengandung _missing values_ menggunakan _method_ <code>dropna()</code>. Contoh-contoh di bawah akan berfokus pada kolom "Price".

In [ ]:
# fillna dengan nilai rata-rata
mean = df3.Price.mean()
df3_fill_mean = df3.copy()
df3_fill_mean.Price.fillna(mean,inplace=True)
df3_fill_mean.head(10)

               Suburb  ...                   CouncilArea
0             Chintin  ...  Macedon Ranges Shire Council
1  Strathmore Heights  ...    Moonee Valley City Council
2      Caulfield East  ...        Glen Eira City Council
3         Huntingdale  ...           Monash City Council
4       Essendon West  ...    Moonee Valley City Council
5  Strathmore Heights  ...    Moonee Valley City Council
6       Essendon West  ...    Moonee Valley City Council
7       Essendon West  ...    Moonee Valley City Council
8         Huntingdale  ...           Monash City Council
9        Keilor Lodge  ...         Brimbank City Council

[10 rows x 13 columns]

In [ ]:
# fillna dengan nilai max
maxx = df3.Price.max()
df3_fill_max = df3.copy()
df3_fill_max.Price.fillna(maxx,inplace=True)
df3_fill_max.head(10)

               Suburb  ...                   CouncilArea
0             Chintin  ...  Macedon Ranges Shire Council
1  Strathmore Heights  ...    Moonee Valley City Council
2      Caulfield East  ...        Glen Eira City Council
3         Huntingdale  ...           Monash City Council
4       Essendon West  ...    Moonee Valley City Council
5  Strathmore Heights  ...    Moonee Valley City Council
6       Essendon West  ...    Moonee Valley City Council
7       Essendon West  ...    Moonee Valley City Council
8         Huntingdale  ...           Monash City Council
9        Keilor Lodge  ...         Brimbank City Council

[10 rows x 13 columns]

In [ ]:
# dropna untuk menghapus baris yang mengandung missing values
df3_drop_row = df3.dropna()
df3_drop_row.head(10)

                Suburb  ...                 CouncilArea
1   Strathmore Heights  ...  Moonee Valley City Council
2       Caulfield East  ...      Glen Eira City Council
3          Huntingdale  ...         Monash City Council
4        Essendon West  ...  Moonee Valley City Council
5   Strathmore Heights  ...  Moonee Valley City Council
7        Essendon West  ...  Moonee Valley City Council
8          Huntingdale  ...         Monash City Council
9         Keilor Lodge  ...       Brimbank City Council
10       Essendon West  ...  Moonee Valley City Council
11            Rockbank  ...         Melton City Council

[10 rows x 13 columns]

In [ ]:
# dropna untuk menghapus kolom yang mengandung missing values
df3_drop_col = df3.dropna(axis='columns')
df3_drop_col.head(10)

               Suburb  ...                   CouncilArea
0             Chintin  ...  Macedon Ranges Shire Council
1  Strathmore Heights  ...    Moonee Valley City Council
2      Caulfield East  ...        Glen Eira City Council
3         Huntingdale  ...           Monash City Council
4       Essendon West  ...    Moonee Valley City Council
5  Strathmore Heights  ...    Moonee Valley City Council
6       Essendon West  ...    Moonee Valley City Council
7       Essendon West  ...    Moonee Valley City Council
8         Huntingdale  ...           Monash City Council
9        Keilor Lodge  ...         Brimbank City Council

[10 rows x 12 columns]

## Salam hangat dari _pandas_

Selamat! Anda telah mencoba berbagai macam pemrosesan data menggunakan __Pandas__. Anda dapat melakukan eksplorasi mandiri lebih lanjut terhadap fungsi-fungsi maupun topik yang lebih dalam dari Pandas. Jangan lupa kerjakan soal-soal di bawah untuk menguji pemahaman Anda. Salam hangat dari segenap _pandas_!

![pandas.jpg]()

# Pertanyaan Lab 1

Jawab setiap pertanyaan pada _cell_ di bawah _cell_ pertanyaan. Jawaban boleh lebih dari 1 _cell_ dan juga kombinasi antara _cell_ kode atau _markdwon_ jika memang diperlukan. Gunakan dataset <code>MELBOURNE\_HOUSE\_PRICES\_LITE.csv</code> yang dilampirkan di SCELE untuk mengerjakan soal-soal berikut.

1. Buka dataset <code>MELBOURNE\_HOUSE\_PRICES\_LITE.csv</code> sebagai _DataFrame_ dan tampilkan __10 baris pertama__.

In [ ]:
# Jawaban no. 1

2. Tunjukkan __ada berapa__ _Suburb_ unik pada dataset tersebut. Kemudian _Suburb_ apa yang __paling banyak muncul__?

In [ ]:
# Jawaban no. 2

3. __Buat _DataFrame_ baru__ yang berisi hanya kolom _Suburb_, _Regionname_, dan _Rooms_ untuk 100 baris pertama. __Tampilkan _shape_ dan 10 baris pertama__ _DataFrame_ baru tersebut.

In [ ]:
# Jawaban no. 3

4. __Tampilkan 10 rumah__ _DataFrame_ dari soal nomor 3 yang memiliki jumlah ruangan terbanyak. (_Hint_: Silakan eksplorasi cara mengurutkan _DataFrame_.)

In [ ]:
# Jawaban no. 4

5. __Tampilkan seluruh alamat__ dari _DataFrame_ awal, __sebagai _Pandas Series___, yang memiliki _distance_ __lebih besar atau sama dengan 30__.  (_Hint_: Silakan eksplorasi cara mengakses baris _DataFrame_ dengan kondisi _boolean_ menggunakan <code>loc</code>, <code>iloc</code>, atau cara lain.)

In [ ]:
# Jawaban no. 5

6. Buat _DataFrame_ baru dari _DataFrame awal dengan __menghapus seluruh baris__ yang memiliki nilai _null_. __Tampilkan rata-rata harga__ rumah pada _DataFrame_ baru tersebut.

In [ ]:
# Jawaban no. 6

7. Buat _DataFrame_ baru dari _DataFrame awal dengan __mengisi seluruh nilai _null___ pada kolom _Price_ dengan nilai minimum. __Tampilkan rata-rata harga__ rumah pada _DataFrame_ baru tersebut.

In [ ]:
# Jawaban no. 7

8. Apakah ada __perbedaan__ nilai rata-rata baru di nomor 6 dan 7? __Mengapa demikian?__

In [ ]:
# Jawaban no. 8